.header-container
  .header__background
  .header__curve
  .header__navigation
    a(href="#").header-nav__logo
    a(href="#").header-nav__menu
      i.ion-android-menu
  .header__content-container
    h1.header__heading Let Us Help Your <br> PC Now!
    .header__contact-button.button.button--secondary Contact Us
