.projects
  .featured-project
    .featured-project__bg
      h1.featured-project__name Apple Hardware <br> Repair
      .featured-project__desc.featured-project-desktop
        .featured-project__desc__company-logo
        p.featured-project__desc__text Synth brooklyn viral tofu, chicharrones master cleanse iPhone squid microdosing kogi chia truffaut pickled
        h3.featured-project__desc__timeframe 3 Days
    .featured-project__desc.small
      .featured-project__desc__company-logo
      p.featured-project__desc__text Synth brooklyn viral tofu, chicharrones master cleanse iPhone squid microdosing kogi chia truffaut pickled
      h3.featured-project__desc__timeframe 3 Days
  .pushdown
  .other-projects
    .project
      .project__bg.project-one
      .project__hover-overlay__fab
        .project__hover-overlay__fab--open-icon
          i.ion-android-open
      .project__hover-overlay
    .project
      .project__bg.project-two
    .project
      .project__bg.project-one
    .project
      .project__bg.project-one
      
