.projects
  .projects__container
    .fp
      .fp__image
      .fp__cw
        .fp__content
          .fp__name
            h1 apple hardware repair
          .fp__desc
            .fp__desc__content
              .fp__desc__clogo
              p.fp__desc__text Synth brooklyn viral tofu, chicharrones master cleanse iPhone squid microdosing kogi chia truffaut pickled
              h3.fp__desc__tf 3 days
      
    .other-projects
      .bg
      .content
        .project
          .img.proj-one
          .hover-overlay
            .overlay
            .fab
              i.ion-android-open
        .project
          .img.proj-two
          .hover-overlay
            .overlay
            .fab
              i.ion-android-open
        .project
          .img.proj-two
          .hover-overlay
            .overlay
            .fab
              i.ion-android-open
        .project
          .img.proj-one
          .hover-overlay
            .overlay
            .fab
              i.ion-android-open
