.projects
  .featured-project
    .featured-project__bg
    h1.featured-project__name Apple Hardware Repair
    .featured-project__desc
      .featured-project__desc__company-logo
      p.featured-project__desc__text Synth brooklyn viral tofu, chicharrones master cleanse iPhone squid microdosing kogi chia truffaut pickled
      h3.featured-project__desc__timeframe 3 Days
      
