
.footer
  height: 100px
  display: flex
  align-items: center
  width: 100%
  background-color: $light-red

  +e('logo')
    height: 50px
    width: 50px
    margin-right: 30px
    background:
      image: url('../assets/pchelplogo.png')
      position: center center
      repeat: no-repeat
      size: contain

.footer-link
  color: $dark-red
  text-transform: uppercase
  font-weight: bold
  margin-right: 30px
  cursor: pointer
  transition: color 200ms ease-in-out

  &:hover
    color: darken($dark-red, 20%)

@media (max-width: 443px)
  .footer
    flex-direction: column
    justify-content: center
    height: 200px
    +e('logo')
      margin-bottom: 60px
