.projects
  position: relative
  height: 100%
.featured-project
  max-width: 90vw
  margin: 0 auto
  +e('name')
    margin-left: 10vw
    position: absolute
    top: 120px
    max-width: 365px
    font-size: 48px
    color: rgb(254, 254, 254)
    line-height: 1.2
    text-align: left
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35)

  +e('bg')
    top: -55px
    left: 0
    right: 0
    height: 600px
    position: absolute
    z-index: -1
    background:
      image: url('../assets/featured.png')
      size: cover
      repeat: no-repeat
      position: center center

  +e('desc')
    width: 330px
    border-radius: 10px
    background-color: white
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
    position: absolute
    right: 25px
    bottom: 0px
    margin-bottom: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 2

    +e('company-logo')
      width: 100%
      border-radius: 60%
      height: 150px
      margin: 0 auto
      background:
        image: url('../assets/companylogo.png')
        size: cover
        position: -20px center

    +e('text')
      color: $dark-blue
      font-size: 20px
      text-align: center
      width: 70%
      margin: 0 auto

    +e('timeframe')
      color: $dark-red
      text-transform: uppercase
      font-weight: bold
      text-align: center
      margin-top: 40px
      font-size: 30px

.other-projects
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  background: $grey
  padding: 22px
  margin-bottom: 280px


.pushdown
  height: 540px

.project-one
  background-image: url('../assets/projectone.png')
.project-two
  background-image: url('../assets/projecttwo.png')

.project
  width: 290px
  height: 280px
  border-radius: 10px
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
  position: relative
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-bottom: 20px
  cursor: pointer
  +e('bg')
    height: 100%
    width: 100%
    border-radius: 10px
    background-color: $dark-blue
    background:
      size: cover
      position: center center
      repeat: no-repeat
  +e('hover-overlay')
    border-radius: 10px
    background-color: $dark-blue
    opacity: 0.6
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center

    +e('fab')
      width: 200px
      height: 200px
      border-radius: 100%
      background-color: white
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      z-index: 2
      box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)

      +m('open-icon')
        font-size: 100px
        color: $light-red
        text-align: center

.featured-project-desktop
  display: none
// On larger devices
@media (min-width:801px)
  .featured-project__name
    display: flex
    height: 100%
    margin-top: -117px
    align-items: center
    font-size: 3em
    max-width: 360px

  .featured-project-desktop
    position: absolute
    height: 100%
    bottom: -19px
    right: 8vw
    display: flex

  .featured-project__desc.small
    display: none

@media (min-width: 880px)
  .featured-project__name
    max-width: 400px

@media(min-width: 1225px)
 .other-projects
   height: 285px

@media (max-width: 640px)
  .featured-project__name
    text-align: center
    max-width: 100vw
    margin: -20px auto
    font-size: 2.5em
    width: 100%
  .featured-project__desc
    width: auto
    margin: 0 auto
    left: -40px
    right: -40px
    bottom: 105px
  .featured-project__desc__company-logo
    width: 70%
    margin-bottom: 20px
  .project
    height: 200px
    width: 200px

  .project__hover-overlay__fab
    width: 100px
    height: 100px
  .project__hover-overlay__fab--open-icon
    font-size: 60px
