doctype html
html
  head
    title PC Help | Home
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="./css/main.css")
  body
    include partials/header
    include partials/section-two
    include partials/projects
    include partials/footer
